:root {
  // Colors
  --yellow: #fdffb6;
  --green: #caffbf;
  --peach: #ffd6a5;
  --pink: #ffadad;
  --gray-text: #49525b;
  --white: #ffffff;

  // Fonts
  --inter: 'Inter', sans-serif;
  --garamond: 'EB Garamond', serif;
  --garamond-italic: 'EB Garamond Italic', sans-serif;
}
