.grocery-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .recipe-week {
    padding-top: 1.5rem;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
